<p>
  <strong>Category:</strong>
  konkatsu
</p>

<p>
  <strong>Title:</strong>
  Nice Konkatsu Event
</p>

<p>
  <strong>Location:</strong>
  銀座
</p>

<p>
  <strong>Start At:</strong>
  2018/03/02 21:38
</p>

<p>
  <strong>Ticket Price:</strong>
  5000円
</p>

<p>
  <strong>Ticket Quantity:</strong>
  50
</p>


<%= link_to 'Edit', edit_admin_event_path(@event) %> | 
<%= link_to 'Back', admin_events_path %>